spring:
  application:
    name: valiantech-core-iam

  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
      INDENT_OUTPUT: true
    date-format: yyyy-MM-dd'T'HH:mm:ss

  datasource:
    url: ${DATASOURCE_JDBC_URL} # example: jdbc:postgresql://localhost:5432/iamdb
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration   # Carpeta donde van tus scripts
    baseline-on-migrate: true           # Útil si la base ya tiene datos antes de usar Flyway
    clean-disabled: true                # Evita borrados accidentales (solo desactívalo en dev)
    validate-on-migrate: true           # Valida que el historial sea coherente
    out-of-order: false                 # Rechaza migraciones fuera de orden (best practice)

jwt:
  secret: ${JWT_SECRET_VALUE}

server:
  tomcat:
    connection-timeout: 15s    # Timeout de conexión
    max-http-header-size: 8KB  # Limita tamaño de headers (protege de otros ataques)
  servlet:
    session:
      timeout: 30m             # Timeout de sesión, no tan relevante si eres stateless

redis:
  host: localhost
  port: 6379
  password: redispass
  isCluster: false
  clusters:
    nodes: [ ]

valiantech:
  invitation:
    registration-url-base: http://localhost/register
    token-expiry-days: 7
    enable-invite: true