spring:
  application:
    name: valiantech-core-iam

  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
      INDENT_OUTPUT: true
    date-format: yyyy-MM-dd'T'HH:mm:ss

  datasource:
    url: ${DATASOURCE_JDBC_URL} # example: jdbc:postgresql://localhost:5432/iamdb
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: ${JPA_HIBERNATE_DLL_AUTO:none}
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  flyway:
    enabled: false
    locations: classpath:db/migration   # Carpeta donde van tus scripts
    baseline-on-migrate: true           # Útil si la base ya tiene datos antes de usar Flyway
    clean-disabled: true                # Evita borrados accidentales (solo desactívalo en dev)
    validate-on-migrate: true           # Valida que el historial sea coherente
    out-of-order: false                 # Rechaza migraciones fuera de orden (best practice)

jwt:
  secret: ${JWT_SECRET_VALUE}

server:
  tomcat:
    connection-timeout: 10s    # Timeout de conexión
    max-http-header-size: 8KB  # Limita tamaño de headers (protege de otros ataques)
  servlet:
    session:
      timeout: 30m             # Timeout de sesión, no tan relevante si eres stateless

redis:
  host: ${REDIS_HOST}              # Solo usado en modo standalone
  port: ${REDIS_PORT}                   # Usado en standalone y como valor por defecto si el nodo del cluster no tiene puerto
  password: ${REDIS_PASSWORD}                 # Deja en blanco si tu Redis no tiene password
  isCluster: ${REDIS_IS_CLUSTER}              # true para cluster, false para standalone
  clusters:
    nodes:
      - ${REDIS_NODE_ONE} # 192.168.1.10:7000
      - ${REDIS_NODE_TWO}

valiantech:
  invitation:
    registration-url-base: ${REGISTRATION_URL_BASE}