spring:
  application:
    name: valiantech-core-iam
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
      INDENT_OUTPUT: true
    date-format: yyyy-MM-dd'T'HH:mm:ss
  datasource:
    url: jdbc:postgresql://localhost:5432/iamdb
    username: iamuser
    password: secretpassword
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: ${JWT_SECRET_VALUE}

#  flyway:
#    enabled: true
#    locations: classpath:db/migration   # Carpeta donde van tus scripts
#    baseline-on-migrate: true           # Útil si la base ya tiene datos antes de usar Flyway
#    clean-disabled: true                # Evita borrados accidentales (solo desactívalo en dev)
#    validate-on-migrate: true           # Valida que el historial sea coherente
#    out-of-order: false                 # Rechaza migraciones fuera de orden (best practice)